@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #437C90;
}
input{
    margin: 10%;
    font-size: 22px;
    line-height: 1.6;
    height: 55px;
    width: 650px;
    border-radius: 30px;
    padding: 22px; 
    outline: none;  
    background-color: #EEEBD3;
    color:#255957;
}
li{
    /* itni heght toh rahna varna badha lena content ke hissab se */
    min-height: 30px; 
    width: 31rem;
    font-style: italic;
    border-radius: 13px;
    border: solid 1px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    background-color: beige; 
    margin: 0.25rem;
    word-break: break-all;
}
img{
    height: 34px;
    width: 34px;
}
.toptext{
    margin: 20px;
    font-family: 'Tapestry', cursive;
}
